<header class="header fixed z-10 mx-36 pt-6">
    <nav
        class="mx-96 flex h-auto w-auto justify-center rounded-full bg-nord3 px-6 py-2 text-nord6 drop-shadow-lg"
    >
        <ul
            class="all-small-caps flex justify-center gap-6 px-8 font-semibold tracking-wide"
        >
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Project</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
</header>
