---
import Main from '../layouts/Main.astro';
import Card from '../components/Card.astro';
---

<Main title="Luke - Portfolio, blog and sweet home">
    <section class="section-hero">
        <div class="mx-8 flex flex-col items-center justify-center pt-24">
            <h1 class="m-8 tracking-tight text-nord6 drop-shadow-md">
                <span>Portfolio,<br />Blog<br />...and&nbsp;</span>
                <span class="text-nord-13 underline">sweet</span>
                <span> home.</span>
            </h1>

            <div class="m-8 flex flex-col items-center justify-center">
                <div class="m-4 flex gap-6">
                    <h2 class="tracking-wide text-nord6">
                        Hi there, I’m Luke!
                    </h2>
                    <div class="chat chat-start relative -top-4">
                        <div
                            class="chat-bubble min-h-0 min-w-0 max-w-full bg-nord7 font-semibold text-nord0 drop-shadow-md"
                        >
                            Good morning!
                        </div>
                    </div>
                </div>

                <p class="m-4 max-w-3xl text-xl tracking-wide text-nord4">
                    I'm a web developer who builds cool stuff. I'm also a nerd
                    interested in FOSS and have been contributing to different
                    projects. I use Arch Linux,
                    <span class="line-through decoration-nord7 decoration-2">
                        btw</span
                    >, and self-host some websites.
                    <a class="text-nord14 underline" href="#">Get in touch!</a>
                </p>
            </div>
        </div>
    </section>

    <section class="section-recent-blogs">
        <div
            class="mx-auto flex flex-row items-center justify-center gap-4 pt-16"
        >
            <div
                class="mx-12 my-6 flex max-w-sm flex-col items-center justify-center gap-8"
            >
                <Card
                    title="Post 1"
                    ,
                    description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    ,
                    tag1="Tag1"
                    ,
                    tag2="Tag2"
                    ,
                    link="#"
                />
                <Card
                    title="Post 2 with lots of words"
                    ,
                    description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    ,
                    tag1="Tag1"
                    ,
                    tag2="Tag2"
                    ,
                    link="#"
                />
                <Card
                    title="Post 3 with yet another Jibber-jabber"
                    ,
                    description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    ,
                    tag1="Tag1"
                    ,
                    tag2="Tag2"
                    ,
                    link="#"
                />
                <Card
                    title="Post 4"
                    ,
                    description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    ,
                    tag1="Tag1"
                    ,
                    tag2="Tag2"
                    ,
                    link="#"
                />
            </div>

            <div
                class="sticky top-1/3 m-12 flex max-w-sm flex-col justify-center gap-4 self-start"
            >
                <h2 class="mb-4 self-center text-nord6">
                    <span class="text-nord15">Blog</span> Posts
                </h2>
                <p class="text-xl text-nord4">
                    Have a cup of tea or coffee, and write something in this
                    cosy place.
                </p>
                <p
                    class="all-small-caps text-xl text-nord7 line-through decoration-nord7"
                >
                    No regular update warranty of any kind.
                </p>
                <a href="#" class="text-nord text-xl text-nord7">All Posts →</a>
            </div>
        </div>
    </section>

    <section class="section-recent-fun"></section>

    <section class="section-recent-projects"></section>
</Main>
