---
import Main from '../layouts/Main.astro';
import Card from '../components/Card.astro';
import Greeting from '../components/Greeting.astro';
import Showcase from '../components/Showcase.astro';
import Slogan from '../components/Slogan.astro';
---

<Main title="Luke - Portfolio, blog and sweet home">
    <section class="section-hero">
        <div
            class="mx-auto flex min-h-[calc(100vh-2rem)] flex-col items-center justify-center pt-24"
        >
            <Slogan />

            <div class="mx-8 mt-16 flex flex-col items-center justify-center">
                <div class="mx-4 mt-4 flex gap-6">
                    <h2 class="tracking-wide text-nord6">
                        <span class="greeting--1-1 inline-block">Hi</span>
                        <span class="greeting--1-2 inline-block"
                            >there,&nbsp;</span
                        ><span class="greeting--1-3 inline-block"
                            >I’m Luke!</span
                        >
                    </h2>
                    <Greeting />
                </div>

                <p
                    class="greeting-2 mx-4 mt-12 max-w-3xl text-xl tracking-wide text-nord4"
                >
                    I'm a web developer who builds cool stuff. I'm also a nerd
                    interested in FOSS and have been contributing to different
                    projects. I use Arch Linux,
                    <span class="line-through decoration-nord7 decoration-2">
                        btw</span
                    >, and self-host some websites.
                    <a
                        class="text-nord14 underline underline-offset-4 hover:decoration-2"
                        href="#">Get in touch!</a
                    >
                </p>
            </div>
        </div>
    </section>

    <section class="section-recent-blogs">
        <div
            class="mx-auto mt-36 flex flex-row items-center justify-center gap-4"
        >
            <div
                class="mx-12 mt-8 flex max-w-sm flex-col items-center justify-center gap-8"
            >
                <Card
                    title="Post 1"
                    ,
                    description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    ,
                    tag1="Tag1"
                    ,
                    tag2="Tag2"
                    ,
                    link="#"
                />
                <Card
                    title="Post 2 with lots of words"
                    ,
                    description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    ,
                    tag1="Tag1"
                    ,
                    tag2="Tag2"
                    ,
                    link="#"
                />
                <Card
                    title="Post 3 with yet another Jibber-jabber"
                    ,
                    description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    ,
                    tag1="Tag1"
                    ,
                    tag2="Tag2"
                    ,
                    link="#"
                />
                <Card
                    title="Post 4"
                    ,
                    description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    ,
                    tag1="Tag1"
                    ,
                    tag2="Tag2"
                    ,
                    link="#"
                />
            </div>

            <div
                class="sticky top-1/3 mx-12 mt-12 flex max-w-sm flex-col justify-center gap-4 self-start"
            >
                <h2 class="self-center text-nord6">
                    <span class="text-nord15">Blog</span> Posts
                </h2>
                <p class="mt-8 text-xl text-nord4">
                    Have a cup of tea or coffee, and write something in this
                    cosy place.
                </p>
                <p
                    class="all-small-caps text-xl text-nord7 line-through decoration-nord7"
                >
                    No regular update warranty of any kind.
                </p>
                <a
                    href="#"
                    class="flex flex-row items-center gap-1 text-xl text-nord7 hover:gap-2"
                    >All Posts<span
                        class="icon-[material-symbols--keyboard-double-arrow-right-rounded] text-3xl"
                    ></span></a
                >
            </div>
        </div>
    </section>

    <section class="section-recent-projects">
        <div
            class="relative mx-auto mt-36 flex flex-col items-center justify-center pb-24"
        >
            <div class="mx-16">
                <h2 class="text-nord6">
                    <span class="text-nord12">Projects</span> Showcase
                </h2>
            </div>

            <div class="mx-16 flex flex-col items-center justify-center">
                <div class="showcase">
                    <Showcase
                        url="https://luke-s.dev/"
                        ,
                        imgSrc="/img/nord-rainbow.jpg"
                        ,
                        imgAlt="nord-rainbow"
                        ,
                        title="The World’s Best Web"
                        ,
                        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque consequuntur hic quis mollitia quos odit laudantium harum illo laboriosam, quaerat dolorum ea maiores vero ab enim suscipit aliquam quo!"
                        ,
                        link="#"
                    />
                </div>
                <div class="showcase hidden">
                    <Showcase
                        url="https://luke-s.dev/"
                        ,
                        imgSrc="/img/nord-archlinux.jpg"
                        ,
                        imgAlt="nord-archlinux"
                        ,
                        title="Arch Linux"
                        ,
                        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, perferendis dolores impedit qui optio delectus nihil adipisci dolor vel exercitationem odio pariatur?"
                        ,
                        link="#"
                    />
                </div>
                <div class="showcase hidden">
                    <Showcase
                        url="https://luke-s.dev/"
                        ,
                        imgSrc="/img/nord-gnu-linux.jpg"
                        ,
                        imgAlt="nord-gnu-linux"
                        ,
                        title="GNU/Linux"
                        ,
                        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto fuga dolor consectetur dolore ipsam nihil nostrum maxime, labore sequi modi quae voluptatibus debitis ea, ipsum commodi consequatur recusandae doloremque veniam."
                        ,
                        link="#"
                    />
                </div>
            </div>

            <button
                class="prev btn btn-circle absolute left-20 top-80 border-0 bg-nord3"
            >
                <span
                    class="icon-[material-symbols--arrow-back-ios-new-rounded] text-xl"
                ></span>
            </button>
            <button
                class="next btn btn-circle absolute right-20 top-80 border-0 bg-nord3"
            >
                <span
                    class="icon-[material-symbols--arrow-forward-ios-rounded] text-xl"
                ></span>
            </button>
        </div>
    </section>
</Main>

<script>
    // Greeting Animation
    import { gsap } from 'gsap';

    let tl = gsap.timeline({
        delay: 0.5,
        defaults: {
            duration: 0.5,
            yPercent: -25,
            autoAlpha: 0,
        },
    });
    tl.from('.greeting--1-1', {});
    tl.from('.greeting--1-2', {});
    tl.from('.greeting--1-3', { delay: 0.25, duration: 0.75 });
    tl.from('.greeting-2', {});
    tl.from('.greeting-3', { yPercent: 0, delay: 0.25, duration: 1.5 });

    // Showcase Carousel
    const showcases = document.getElementsByClassName('showcase');
    const nextBtn = document.querySelector('.next');
    const prevBtn = document.querySelector('.prev');

    let showcaseIndex = 1;
    nextBtn?.addEventListener('click', function () {
        showcaseIndex += 1;
        carousel(showcaseIndex);
        gsap.fromTo(
            '.showcase',
            {
                opacity: 0.25,
                duration: 1.25,
            },
            {
                opacity: 1,
                duration: 1.25,
            },
        );
    });
    prevBtn?.addEventListener('click', function () {
        showcaseIndex -= 1;
        carousel(showcaseIndex);
        gsap.fromTo(
            '.showcase',
            {
                opacity: 0.25,
                duration: 1.25,
            },
            {
                opacity: 1,
                duration: 1.25,
            },
        );
    });

    const carousel = function (i: number) {
        // Last >> First
        if (i > showcases.length) {
            showcaseIndex = 1;
        }
        // First >> Last
        if (i < 1) {
            showcaseIndex = showcases.length;
        }

        // Add .hidden for each element
        for (let x = 0; x < showcases.length; x++) {
            showcases[x]?.classList.add('hidden');
        }
        // And remove . hidden for the needed element
        showcases[showcaseIndex - 1]?.classList.remove('hidden');
    };
</script>
