---

---

<div class="mockup-browser max-w-2xl bg-nord3 drop-shadow-lg">
    <div
        class="mockup-browser-toolbar before:!opacity-80 before:!shadow-[1.4em_0_#ebcb8b,2.8em_0_#a3be8c,4.2em_0_#bf616a]"
    >
        <div class="input !bg-[#66738C] !pt-[2px]">https://luke-s.dev/</div>
    </div>
    <div class="flex justify-center bg-nord0">
        <img src="/img/nord-rainbow.jpg" alt="nord-rainbow" />
    </div>
</div>
