---

---

<!-- After properly style footer, remove the footer class -->
<footer class="footer">
    <div class="mx-auto my-2 flex text-nord4">
        <span>
            Website is WIP. Licensed under the
            <a
                class="underline"
                href="https://creativecommons.org/licenses/by-sa/4.0/"
                target="_blank">CC BY-SA 4.0</a
            >, and here's the
            <a
                class="underline"
                href="https://github.com/coxde/home/"
                rel="noopener noreferrer"
                target="_blank"
            >
                source code</a
            >.</span
        >
    </div>
</footer>
