---

---

<greeting-updater class="greeting-3 chat chat-start relative -top-4">
    <div
        class="chat-bubble min-h-0 min-w-0 max-w-full bg-nord7 font-semibold text-nord0 drop-shadow-md"
    >
        Good morning!
    </div>
</greeting-updater>

<script>
    import gsap from 'gsap';

    let hour: number = new Date().getHours();
    const earlyMorning: string = 'ðŸ§ Look, early bird!';
    const morning: string = 'ðŸŒ„ Good morning!';
    const afternoon: string = 'ðŸ° Good afternoon!';
    const evening: string = 'ðŸŒŒ Wonderful evening!';
    const night: string = 'ðŸ˜´ Night night!';
    const lateNight: string = 'ðŸ¦‰ Wow, night owl!';
    const defaultGreeting: string = 'ðŸ•“ Time is an illusion.';

    // https://docs.astro.build/en/guides/client-side-scripts/#web-components-with-custom-elements
    class GreetingUpdater extends HTMLElement {
        constructor() {
            super();
            const greetingBubble = this.querySelector('div')!;

            gsap.to(greetingBubble, {
                xPercent: 2.5,
                yPercent: -25,
                duration: 1.25,
                delay: 0.5,
            });

            if (hour >= 5 && hour < 7) {
                greetingBubble.innerText = earlyMorning;
            } else if (hour >= 7 && hour < 12) {
                greetingBubble.innerText = morning;
            } else if (hour >= 12 && hour < 17) {
                greetingBubble.innerText = afternoon;
            } else if (hour >= 17 && hour < 22) {
                greetingBubble.innerText = evening;
            } else if (hour >= 22 && hour < 24) {
                greetingBubble.innerText = night;
            } else if (hour >= 0 && hour < 5) {
                greetingBubble.innerText = lateNight;
            } else greetingBubble.innerText = defaultGreeting;
        }
    }

    customElements.define('greeting-updater', GreetingUpdater);
</script>
