---
import Browser from '../components/Browser.astro';
---

<div class="mx-24 my-12"><Browser /></div>

<div class="flex max-w-3xl flex-col gap-4">
    <h3 class="mb-4 text-nord4"><a href="#">The World’s Best Web →</a></h3>
    <p class="text-xl text-nord6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
        consequuntur hic quis mollitia quos odit laudantium harum illo
        laboriosam, quaerat dolorum ea maiores vero ab enim suscipit aliquam
        quo! Dignissimos!
    </p>
    <a href="#" class="text-nord text-xl text-nord7">All Projects →</a>
</div>
