---
title: 'Home'
layout: 'base.njk'
---

<section class="section-hero">
    <h1 class="text-center text-nord7">Portfolio,</h1>
    <h1 class="text-center text-nord8">
        blog
        <h1 class="text-center text-nord12">...and sweet home</h1>
    </h1>

    <h2 class="text-center text-nord10">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta,
        recusandae ducimus eos placeat eius debitis corrupti consequatur at
        magnam fuga voluptatum cupiditate vitae pariatur corporis assumenda nemo
        delectus, quasi unde!
    </h2>
</section>

<section class="section-recent-blogs">
    <h2 class="text-nord12">Blogs</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        sunt, recusandae ullam nisi qui praesentium distinctio neque nihil
        animi. Deleniti laudantium officia minima dolorum distinctio numquam
        facilis quia cumque sed!
    </p>
</section>

<section class="section-recent-projects">
    <h2 class="text-nord13">Projects</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        sunt, recusandae ullam nisi qui praesentium distinctio neque nihil
        animi. Deleniti laudantium officia minima dolorum distinctio numquam
        facilis quia cumque sed!
    </p>
</section>

<section class="section-recent-funs">
    <h2 class="text-nord14">Recently Favourite</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
        consequuntur repudiandae aliquam mollitia sapiente pariatur minus
        inventore debitis laudantium tempore libero, numquam facilis adipisci
        dolor eveniet iure? Iusto, debitis quidem!
    </p>
</section>
