---
title: 'Home'
layout: 'base.njk'
---

<section class="section-hero mx-8 mb-16">
    <div class="mx-36 flex flex-col items-center justify-items-center">
        <h1 class="m-8 leading-tight text-nord6 drop-shadow-md">
            <span>Portfolio,<br />Blog<br />...and </span
            ><span class="text-nord-13 underline">sweet</span
            ><span> home.</span>
        </h1>

        <div class="mx-16 mt-8 flex flex-col items-center justify-items-center">
            <div class="m-4 flex gap-8">
                <h2 class="col-span-1 text-nord6">Hi there, I’m Luke!</h2>
                <div
                    class="col-span-1 m-2 h-auto w-auto rounded-full bg-nord7 px-6 py-2 text-nord0"
                >
                    Good morning!
                </div>
            </div>

            <p class="col-span-2 m-8 text-xl text-nord4">
                I'm a web developer who builds cool stuff. I'm also a nerd
                interested in FOSS and have been contributing to different
                projects. I use Arch Linux, btw, and self-host some websites.
            </p>
        </div>
    </div>
</section>

<section class="section-recent-blogs"></section>

<section class="section-recent-projects"></section>

<section class="section-recent-funs"></section>
